gen/ml-schemas/athlete-db.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sem="http://marklogic.com/semantics" xmlns:es="http://marklogic.com/entity-services">
  <xs:element name="name" type="xs:string"/>
  <xs:element name="position" type="xs:string"/>
  <xs:element name="jerseyNumber" type="xs:positiveInteger"/>
  <xs:element name="dateOfBirth" type="xs:date"/>
  <xs:element name="nationality" type="xs:string"/>
  <xs:element name="contractUntil" type="xs:date"/>
  <xs:element name="marketValue" type="xs:long"/>
  <xs:element name="teamId" type="TeamContainerType"/>
  <!--This item is a duplicate and is commented out so as to create a valid artifact.
 <xs:element name="name" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/> 
-->
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="crest" type="sem:iri"/>
  <xs:element name="value" type="xs:long"/>
  <xs:complexType name="TeamContainerType">
    <xs:sequence>
      <xs:element ref="Team"/>
    </xs:sequence>
    <xs:attribute name="datatype"/>
  </xs:complexType>
  <xs:complexType name="PlayerType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="name"/>
      <xs:element ref="position"/>
      <xs:element ref="jerseyNumber"/>
      <xs:element ref="dateOfBirth"/>
      <xs:element ref="nationality"/>
      <xs:element minOccurs="0" ref="contractUntil"/>
      <xs:element ref="marketValue"/>
      <xs:element ref="teamId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" type="PlayerType"/>
  <xs:complexType name="TeamType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element ref="name"/>
      <xs:element ref="id"/>
      <xs:element minOccurs="0" ref="crest"/>
      <xs:element ref="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" type="TeamType"/>
</xs:schema>